{{ define "main" }}
<div class="columns">
                <div class="column home-sx">
                    <figure class="hero-figure">
                        <a href="ecomuseo/ecomuseo"><img class="img-responsive" src="img/home/nucleoSanRocco.jpg" alt="Vista del nucleo di San Rocco"></a>
                        <figcaption class="h3"><a href="ecomuseo/ecomuseo">L'Ecomuseo della Provincia di Cremona</a></figcaption>
                    </figure>
                    <br class="divider">
                    <h2 class="h3">Novit&agrave; ed iniziative</h2>
                    {{  with .Site.GetPage "section" "novita"}}
                        {{ range first 5 .Pages}}
                    <article class="tile tile-centered">
                        <div class="tile-icon">
                            <div class="example-tile-icon text-warning h1">
                                <i class="icon icon-newspaper centered"></i>&nbsp;
                            </div>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
                            <p class="tile-subtitle text-gray text-small"><i class="icon icon-calendar centered"></i>&nbsp;Pubblicata il {{ .Date.Format "2006-01-02"}}</p>
                        </div>
                    </article>
                        {{end}}
                    {{ end }}
                </div><!-- Fine Colonna di sinistra -->
                <div class="column home-dx">
                    <article class="card">
                        <div class="card-image">
                            <a href="{{ .Site.BaseURL }}/percorso/percorso/" title="Continua..."><img src="img/home/percorsoDidattico.jpg" class="img-responsive" alt="Percorso didattico"></a>
                        </div>
                        <div class="card-header">
                            <div class="card-title h5">Percorso didattico</div>
                            <!-- <div class="card-subtitle text-gray">Breve descrizione</div> -->
                        </div>
                        <div class="card-body">
                            Il progetto "Territorio come ecomuseo" si arricchisce degli spazi espositivi della <b>Cascina Stella</b>, una tipica cascina Cremonese all'interno del <a href="https://boscodidattico.provincia.cremona.it">Bosco Didattico</a> di Castelleone, ristrutturata dalla Provincia di Cremona  e divenuta <b>sede espositiva del museo laboratorio del paesaggio padano</b>.
                        </div>
                        <div class="card-footer">
                            <a href="{{ .Site.BaseURL }}/percorso/percorso/"><button class="btn btn-primary"><i class="icon icon-leaf centered"></i>&nbsp;Continua...</button></a>
                        </div>
                    </article>
                    <br class="divider">
                    <article class="card">
                        <div class="card-image">
                            <a href="{{ .Site.BaseURL }}/quaderni/" title="Consulta la biblioteca"><img src="img/home/quaderniEcomuseo480x220.jpg" class="img-responsive" alt="I quaderni dell'Ecomuseo"></a>
                        </div>
                        <div class="card-header">
                            <div class="card-title h5">I nuclei dell'ecomuseo</div>
                            <!-- <div class="card-subtitle text-gray">Sottotitolo da inventare</div> -->
                        </div>
                        <div class="card-body">L'ecomuseo del territorio cremonese &egrave; costituito da vari siti distribuiti nel territorio della provincia di Cremona, buona parte dei quali si trovano nella parte alta della provincia, in una zona compresa fra i fiumi Adda e Oglio (a Ovest ed a Est) e limitata a Nord dalla provincia di Bergamo. </div>
                        <div class="card-footer">
                            <a href="{{ .Site.BaseURL }}/ecomuseo/nuclei/"><button class="btn btn-primary"><i class="icon icon-book centered"></i>&nbsp;Vai alla pagina dei nuclei...</button></a>
                        </div>
                    </article>
                </div>
            </div>
{{ end}}
