                <nav class="column pagina-dx">
                    <img class="img-responsive" src="{{ .Site.BaseURL }}/img/barra-multi-desaturata640x90.jpg" alt="Decorazione">
                    <ul class="nav">
                      <li class="nav-item">
                          <a href="{{.Site.BaseURL}}/"><i class="icon icon-home"></i>&nbsp;Home</a>
                      </li>
                      <li class="nav-item">
                        <a href="{{.Site.BaseURL}}/ecomuseo/ecomuseo/">Ecomuseo</a>
                        <ul class="nav">
                          <li class="nav-item">
                            <a href="{{.Site.BaseURL}}/ecomuseo/dichiarazione/">Dichiarazione d'intenti</a>
                          </li>
                          <li class="nav-item">
                            <a href="{{.Site.BaseURL}}/ecomuseo/significato/">Significato di un titolo</a>
                          </li>
                          <li class="nav-item">
                            <a href="{{.Site.BaseURL}}/ecomuseo/nuclei/">I nuclei dell'ecomuseo</a>
                          </li>
                          <li class="nav-item">
                              <a href="{{.Site.BaseURL}}/quaderni/">I Quaderni dell'Ecomuseo</a>
                          </li>
                        </ul>
                      </li>
                      <li class="nav-item">
                          <a href="{{.Site.BaseURL}}/percorso/percorso/">Il percorso didattico</a>
                        <ul class="nav">
                          <li class="nav-item">
                            <a href="{{.Site.BaseURL}}/percorso/storia/">La storia del paesaggio padano</a>
                          </li>
                          <li class="nav-item">
                            <a href="{{.Site.BaseURL}}/percorso/fiumi/">Il paesaggio dei fiumi</a>
                          </li>
                          <!-- <li class="nav-item"> -->
                          <!--   <a href="{{.Site.BaseURL}}/percorso/aperture/">Giorni di apertura</a> -->
                          <!-- </li> -->
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a href="{{.Site.BaseURL}}/novita/">Novit&agrave; ed iniziative</a>
                      </li>
                      <li class="nav-item">
                        <a href="{{.Site.BaseURL}}/percorso/aperture/">Dove siamo</a>
                      </li>
                    </ul>
                    <br>
                    <figure class="figure">
                        <center><img class="img-responsive" src="{{ .Site.BaseURL }}/img/nitticora.jpg" alt="Nitticora, una specie di airone tipica della pianura padana"></center>
                        <figcaption class="figure-caption text-center text-italic">La <b>Nitticora</b>, una specie di airone tipica della pianura padana</figcaption>
                    </figure>
                </nav><!-- Fine Colonna di destra -->
