{{ define "main" }}
            <div class="columns">
                <main class="column pagina-sx">
                    <h1 class="text-primary">{{ .Title }}</h1>
                    {{ .Content }}
                    <div class="columns">
                    {{ range .Site.Data.quaderni }}
                        <div class="column col-4 col-md-6 col-sm-12">
                            <article id="{{ .pdf }}" class="text-center">
                                <h5><a href="pdf/{{ .pdf }}">{{ .titolo }}</a></h5>
                                <a href="pdf/{{ .pdf }}"><img src="img/{{ .immagine }}" alt="{{ .titolo }}"></a>
                                <p>{{ .desc }}</p>
                            </article>
                        </div>
                    {{ end }}
                    </div>
                </main><!-- Fine Colonna di sinistra -->
                {{ partial "page-navigation" . }}
            </div>
{{ end}}
