{{ define "main" }}
            <div class="columns">
                <main class="column pagina-sx">
                    <h1 class="text-primary">{{ .Title }}</h1>
                    <p>Questo &egrave; l'elenco delle notizie pubblicate in ordine temporale inverso. Alla fine delle metto la paginazione.<br>
                    Aprendo la news, apparir&agrave; come una normale pagina  con in fondo i link per: news successiva, precedente e torna ad elenco.</p>
                    {{ .Content }}
                    {{ range (.Paginator 2).Pages }}
                     <article class="tile" id="id-novita">
                        <div class="tile-icon">
                            <div class="example-tile-icon text-warning h1">
                                <i class="icon icon-leaf centered"></i>&nbsp;
                            </div>
                        </div>
                        <div class="tile-content">
                            <h5 class="tile-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                            <p class="tile-subtitle">{{ .Content | safeHTML | truncate 200 }}</p>
                            <p class="tile-subtitle text-gray text-small"><i class="icon icon-calendar centered"></i>&nbsp;Pubblicata il {{ dateFormat "01 Jan 2006" .Date.Local }}</p>
                        </div>
                    </article>
                    {{ end }}
                    {{ template "_internal/pagination.html" . }}
                </main><!-- Fine Colonna di sinistra -->
                {{ partial "page-navigation" . }}
            </div>
{{ end}}
